body.home-bg{
	background-image: url("http://www.walldevil.com/wallpapers/w02/601136-audio-tapes-cassette-grey-background-minimalistic.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: sans-serif;
	position: fixed;
}

body.search-page-bg, .about-page-bg,
.account-page-bg{
	background-color: #424443;
  position: fixed;
}
.title-centered {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-centered {
  position: fixed;
  width: 45%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.account-container {
  margin-left: 20%;
  margin-top: 5%;
  width: 1170px;
}

.bottom-centered {
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);	
}

.right-align {
	position: fixed;
	top: 3%;
	left: 89%;
}
.home-container{
	margin-top: 10%
	position:
}


.input-container{
  margin-left: 63%;
  margin-top:  15%;
}

.signup-container{
	margin: 3% 8% 0% 8%;
}
.login-container{
  margin: 3% 8% 0% 8%;
}


.home-about-text{
	letter-spacing: 8px;
	font-size: 8pt;
	text-align: center;

}
.home-about-text:hover{
	color: rgba(143, 188, 143, 0.87);
}

table{
  margin: auto;

}

h4.home-text{
	color: #FFFFE0;
	letter-spacing: 20px;
	border-style: double;
	font-size: 30pt;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left:15px;
	border-radius: 30px;
}

h4.about-text{
	color: #FFFFE0;
	font-size: 27pt;
	letter-spacing: 18px;
	border-style: double;
	padding: 10px 25px 10px 43px;
	border-radius: 30px;
	font-weight: 400;
}
h4.signup-text{
  color: rgba(255, 255, 224, 0.88);
  font-size: 25pt;
  letter-spacing: 18px;
  border-style: double;
  padding: 10px 25px;
  border-radius: 22px;
}
h4.login-text{
  color: rgba(255, 255, 224, 0.88);
  font-size: 25pt;
  letter-spacing: 18px;
  border-style: double;
  padding: 10px 25px;
  border-radius: 22px;
}
.signup{
	margin-left: 25px;
}
.home-button{
	background-color: rgba(143, 188, 143, 0.87);
	font-family: courier;
	font-size: 10pt;
	padding: 4px 15px;
	border-radius: 5px;
}
.home-button:focus,.home-button:active {
   outline: none !important;
   font-weight: bold;
}

.home-mask {
  position: relative;
  z-index: 100;
  background: rgba(34, 34, 34, 0.57);
  border-radius: 30px;
}

.about-title-mask {
  position: relative;
  z-index: 100;
  background: rgba(34, 34, 34, 0.57);
  text-align: center;
  border-radius: 30px;
}

.about-body-mask {
  position: relative;
  z-index: 100;
  background: rgba(34, 34, 34, 0.57);
  text-align: center;
  border-radius: 22px;

}

.login-signup-container{
	text-align: center;
}

a{
	color: white;
}
a:hover{
	text-decoration: none;
	color: #333;
}
label{
	color: #FFFFE0;
	font-weight: 200;
}
.horizontal-divider{
    width:20%;
    height:auto;
    display:inline-block;
}
.vertical-divider{
	height: 3%;
	display:inline-block;
}

p.subtitle{
	color: white;
	letter-spacing: 10px;
	font-size: 7pt;
	margin-top: 10px;
	text-align: center;
}
p.about-body-text{
	padding: 3% 5%;
	color: rgba(143, 188, 143, 0.87);
	line-height: 40px;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1px;
}
p.powered-by{
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 8pt;
	color: white;
}
p.account-text{
  color: white;
  font-weight: 200;
  margin-bottom: 2px;
  font-size: 10pt;
}
th.login-form{

}
th.signup-form{
  
}
.logo{
	height: 90px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.youtubepicker-panel{
	margin: 0 auto;
	margin-top: 1.75rem;
}

.youtubepicker-actions a{
	border-radius: 3px;
}


