body.home-bg{
	background-image: url("edited2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: sans-serif;
	color: white;
	position: fixed;
}

body.search-page-bg, .about-page-bg,
.account-page-bg{
	background-color: #2E2E2E
}

.home-container{
	margin: 352px 0px 0px 822px;
}

.about-countainer{
	margin: 10% 0% 0% 30%;
}

.input-container{
	margin: 3% 30% 0% 30%;
}

.home-about-text{
	letter-spacing: 8px;
	font-size: 12pt;
	margin-left: 38%;
}
.home-about-text:hover{
	color: rgba(143, 188, 143, 0.87);
}

h4.home-text{
	color: #FFFFE0;
	letter-spacing: 18px;
	display: inline-block;
	border-style: double;
	font-size: 45pt;
	margin: 0px;
	padding: 10px 30px 10px 42px;
}

h4.about-text{
	color: rgba(255, 255, 224, 0.88);
	font-size: 25pt;
	letter-spacing: 18px;
	border-style: double;
	padding: 10px 25px;
}

.home-button{
	background-color: rgba(143, 188, 143, 0.87);
	font-family: courier;
	font-size: 18px;
	padding: 4px 15px;
	border-radius: 14px;
}
.home-button:focus,.home-button:active {
   outline: none !important;
   font-weight: bold;
}

.home-mask {
  position: relative;
  z-index: 100;
  background: rgba(34, 34, 34, 0.57);
  margin-bottom: 10px;
  margin-right:33px;
}

.about-title-mask {
  position: relative;
  z-index: 100;
  background: rgba(0, 0, 0, 0.64);
  margin: 5% 37% 2% 38%;
}

.about-body-mask {
  position: relative;
  z-index: 100;
  background: rgba(0, 0, 0, 0.76);
  margin: 0 29% 3% 30%;
}

.login-signup-container{
	margin-left: 19%;
	margin-bottom: 94%;
}

a{
	color: white;
}
a:hover{
	text-decoration: none;
	color: #333;
}

.horizontal-divider{
    width:20%;
    height:auto;
    display:inline-block;
}
.vertical-divider{
	height: 3%;
	display:inline-block;
}

p.subtitle{
	color: white;
	letter-spacing: 10px;
	margin: 4% 0 5% -2%;
	font-size: 11pt;
}
p.about-body-text{
	padding: 4% 10%;
	color: rgba(143, 188, 143, 0.87);
	line-height: 40px;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1px;
}
p.powered-by{
	margin-top: 11.5%;
	margin-left: 44%;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 8pt;
	color: white;
}

.logo{
	height: 90px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.youtubepicker-panel{
	margin: 0 auto;
	margin-top: 1.75rem;
}

.youtubepicker-actions a{
	border-radius: 3px;
}






.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}

.social-login a{
  position:relative;
  float: left;
  width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
.social-login a:first-child{
  background-color: #49639F;
}
.social-login a:last-child{
  background-color: #DF4A32;
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:50%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}






#tfheader{
    background-color:#c3dfef;
  }
  #tfnewsearch{
    float:right;
    padding:20px;
  }
  .tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }
